 <div class="row"> <h3> Favourite Restaurants </h3> </div>
   <ul class="list-group">
     <li>
       {{#each favouriteRestaurant.items as |item|}}
         <div class="list-group-item row">
           {{item.tour}} -- {{item.price}}
        </div>
        {{/each}}
   </li>
  </ul>
